    {{#each wikis as |wiki|}}
    <div class="card">
        <img src="{{image_url}}" alt="Avatar" style="width:10%">
        <div class="container">
            <h4><b><a href="wiki/{{wiki.id}}">{{name}}</a></b></h4>
            <p>{{description}}</p>
        </div>
    </div>
    {{/each}}
    <p>Don't see a wiki? <button id="add-wiki">Add New Wiki</button></p>
    


<script type="text/javascript">

const addWiki = async (event) => {
    event.preventDefault();
    document.location.replace('/new-wiki');
};

document
  .querySelector('#add-wiki')
  .addEventListener('click', addWiki);

</script>